{% from "header-image.html" import headerImage %}

{% extends  layout %}
{% block  content %}
  {{ headerImage({
    image: {
      url: 'images/header-image.jpg',
      alt: 'Header image'
    }
  }) }}
  <div class="o-container">
    <section class="c-text">
      <h1>{{ title }}</h1>
      <p>{{ description }}</p>
    </section>
  </div>
  {% if verification %}
    <section class="c-popup" js-hook-module-popup>
      <h2>Check your mail</h2>
      <p>Thanks you for registering, we have sent you an email with a link to verify your account.</p>
      <button js-hook-popup-close>I get it</button>
    </section>
  {% endif %}
{% endblock %}
