* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 10px;
}

body {
  min-height: 100%;
  margin: 0;
  font-size: 16px;
  overflow-y: scroll;
}

.o-container {
  max-width: 1220px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.hide {
  display: none;
}

.page-container {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.c-text {
  margin: 0 auto;
  max-width: 750px;
}
